.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    /* background: #fff; */
    padding-bottom: 30px;

}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
color: black;
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px;
    background: black;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: white;
    border-radius: 200px;
    opacity: 90%;
}

.input img{
    margin: 0px 30px;
    width: 70px;
    height: 70px;
 }

 @keyframes spin {
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg); }
 }
 .spinning {
    animation: spin 10s infinite;
 }

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.submit-container{
    display: flex;
gap: 30px;
margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    width: 220px;
    height: 59px;
    color: white;
    background: black;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
}

.submit:hover {
    background: white;
    color: black;
}






